@import '../../styles/base/vars.scss';

.aside {
    width: 50%;
    height: 100%;
    padding: 60px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/images/backgrounds/6.jpg) 50% 50% / cover no-repeat;
    overflow-y: auto;

    @media all and (max-width: $break-medium) {
        height: auto;
        padding: 50px 30px;
        display: block;
        overflow-y: visible;
    }
}

.author {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imageWrap {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
    cursor: pointer;

    @media all and (max-width: $break-medium) {
        max-width: 100px;
        max-height: 100px;
    }
}

.imageWrap > a > span {
    border-radius: 90px;
    box-shadow: 0 0 50px rgba(255, 255, 255, .75);
    border: 7px solid #fff !important;

    @media all and (max-width: $break-medium) {
        max-width: 100px !important;
        border-radius: 50px;
        border-width: 6px !important;
    }
}

.imageWrapSmall {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;

    img {
        max-width: 60px;
        border-radius: 30px !important;
    }
}

.imageWrapSmall > a > span {
    width: 60px;
    height: 60px;
    max-width: 60px;
    border-radius: 30px; 
    border-width: 4px !important;
}

.header {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 34px;
    display: inline-block;
    background: #fff;
    color: #04141d;
    font-weight: bold;
    border-radius: 4px;

    @media all and (max-width: $break-medium) {
        font-size: 30px;
    }
}

.headerSmall {
    font-size: 16px;
    padding: 2px 10px;
}

.subheader {
    display: block;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -1px;
    color: #04141d;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

.icons {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    li {
        margin-left: 10px;
        font-size: 18px;

        &:nth-of-type(1) {
            margin-left: 0;
            font-size: 22px;
        }

        &:nth-of-type(3) {
            i {
                margin-top: -1px;
            }
        }

        a {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background: #012d48;
            border-radius: 4px;
            transition: all 0.3s;

            &:hover {
                background: $blue;
            }
        }
    }
}

.asideSimple {
    margin-bottom: 30px;
    background: url(/images/backgrounds/1.jpg) 50% 50% / cover no-repeat;

    @media all and (max-width: $break-medium) {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 16px;
        padding: 2px 10px;
    }
}


.title {
    margin-top: 40px;
    font-size: 40px;
    line-height: 170%;
    font-weight: bold;
    display: inline-block;
    color: #fff;

    @media all and (max-width: $break-large) {
        margin-top: 30px;
        font-size: 36px;
    }

    @media all and (max-width: $break-medium) {
        margin-top: 20px;
        font-size: 30px;
    }

    @media all and (max-width: $break-small) {
        margin-top: 10px;
        font-size: 24px;
    }

    span {
        background: #04141d;
        box-shadow: 24px 0 0 #04141d, -24px 0 0 #04141d;
        padding: 2px;
    }
}