#wrapper {
    min-width: 320px;
    height: 100%;

    #content {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        @media all and (max-width: $break-large) {
            height: auto;
            display: block;
        }

        > aside,
        > main {
            width: 50%;

            @media all and (max-width: $break-large) {
                width: 100%;
                position: static;
            }
        }

        > aside {
            height: 100%;

            @media all and (max-width: $break-large) {
                height: auto;
            }
        }

        > main {
            padding: 50px;

            @media all and (max-width: $break-large) {
                overflow-y: auto;
            }

            @media all and (max-width: $break-medium) {
                padding: 30px;
            }

            @media all and (max-width: $break-small) {
                padding: 15px;
            }
        }
    }
}