// Colors
$blue: #0175bf;
$orange: #f44500;

// Breakpoints
$break-extra-large: '1200px';
$break-large: '992px';
$break-medium: '768px';
$break-small: '576px';

// Fonts
$font-roboto: 'Roboto', sans-serif;